/* stylelint-disable scss/at-rule-no-unknown */
@import '@unocss/reset/tailwind.css';
@unocss all;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
	width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: #fff0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #db82a7;
	padding-top: 0.5rem;
	border-radius: 0.75rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.shadow-custom1 {
	box-shadow:
		3px 1px 17px 0 rgb(203 199 199 / 50%),
		3px 5px 10px 0 rgb(157 157 157 / 12%);
}

input[type='text'] {
	font-size: inherit;
}
